<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Okuro - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>boots}}
    <!-- estilos especiales -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row all-heigh">
            {{> aside this}}
            <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
                {{> header this titulo='Tus Asignaciones'}}

                <!--streaming-->
                <input type="hidden" value="{{id_grupo}}" id="id_grupo">
                <div id="consultingRoom" style="display:none">
                    <video autoplay controls></video>
                    <p id="broadcasterName"></p>
                    <ul id="viewers"></ul>
                </div>
                <div id="form">
                    <input type="hidden" id="name" value="{{nombre}}">
                    <button id="joinViewer">Ver Directo</button>
                </div>
                <!--fin de la seccion de streaming-->
                <div class="materias container">
                    <div class="materias">

                        {{#each asignaciones}}
                            <div class="card">
                                <li class="articles__article" style="--animation-order:1; background: {{../color}}">
                                    <a class="articles__link"
                                        href="/team/asignacion?id_grupo={{id_grupo}}&id_asignacion={{id_asignacion}}">
                                        <div class="articles__content articles__content--lhs">
                                            <h2 class="articles__title">{{titulo}}</h2>
                                            <small>{{#parseFecha vencimiento}}{{/parseFecha}}</small>
                                            <div class="articles__footer">
                                                <p></p>
                                                <p class="circulo" style="background:{{../color}}"></p>
                                            </div>
                                        </div>
                                        <div class="articles__content articles__content--rhs" aria-hidden="true">
                                            <h2 class="articles__title">{{titulo}}</h2>
                                            <small>{{#parseFecha vencimiento}}{{/parseFecha}}</small>
                                            <div class="articles__footer">
                                                <p></p>
                                                <p class="circulo" style="background:{{../color}}"></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        {{/each}}
                        
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/client.js"></script>
    {{>mensaje this}}

</body>

</html>