<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Okuro - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>boots}}
    <!-- estilos especiales -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    {{>libs}}
</head>

<body>
    <div class="container-fluid">
        <div class="row all-heigh">
            {{> aside this}}
            <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
                {{> header this titulo='Asignacion'}}
                <form novalidate="" class=' needs-validation' id="form" method="POST" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-12">
                            <h3>{{asignacion.titulo}}</h3>
                        </div>

                        <div class="col-12 mt-2">
                            <p>
                                <b>Titulo:</b> {{asignacion.instrucciones}}
                            </p>
                            <p>
                                <b>Fecha: </b>{{#parseFecha asignacion.asignado}}{{/parseFecha}} <b>--></b> {{#parseFecha asignacion.vencimiento}}{{/parseFecha}}
                            </p>
                        </div>
                    </div>
                    {{#if entrega.0.id_entrega}}
                        <p>
                            <b>Calificacion:</b> {{entrega.0.calificacion}}
                        </p>
                        <p><b>Entregada el: </b>{{#parseFecha entrega.0.fecha}}{{/parseFecha}}</p>
                        <h5>Tus archivos enviados:</h5>
                        {{#each entrega}}
                            <p>
                                <a href="/{{ruta}}" download="{{nombre_archivo}}">{{nombre_archivo}}</a>
                            </p>
                        {{/each}}
                    {{else}}
                        <div class="col-12 mt-2 dropzone " id='frmTarget'>
                            <div class='fallback'>
                                <input name='file' type='file' multiple />
                            </div>
                        </div>
                        <input name='id_asignacion' type='hidden' value="{{asignacion.id_asignacion}}" />
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg mb-5" type="submit" id="button">Entregar</button>
                    {{/if}}
                </form>
            </main>
        </div>
    </div>
    <!-- JavaScript -->
    {{>mensaje this}}
    <script src="/static/js/asignacion.js"></script>
</body>

</html>