<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Okuro - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>boots}}
    <!-- estilos especiales -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    {{>libs}}
</head>

<body>
    <div class="container-fluid">
        <div class="row all-heigh">
            {{> aside this}}
            <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
                {{> header this titulo='Asignacion'}}
                <form novalidate="" class=' needs-validation' id="form" method="POST" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-12">
                            <h3>{{asignacion.titulo}}</h3>
                        </div>

                        <div class="col-12 mt-2">
                            <p>
                                {{asignacion.instrucciones}}
                            </p>
                            <p>
                                Fecha: <time>{{asignacion.vencimiento}}</time>
                            </p>
                            {{#each archivos}}
                            <p>
                                <a href="{{ruta}}" download="{{../asignacion.titulo}}">Material {{@key}}</a>
                            </p>
                            {{/each}}
                        </div>
                    </div>
                    {{#if entrega}}
                        {{#each entrega}}
                            <h5>Calificacion: </h5>
                            <h6>{{calificacion}}</h6>
                            <h5>Entregada el: </h5>
                            <h6><time>{{fecha}}</time></h6>
                            <p>
                                <h5>Tus archivos enviados:</h5>
                                <a href="/{{ruta}}" download="{{nombre_archivo}}">{{nombre_archivo}}</a>
                            </p>
                        {{/each}}
                    {{else}}
                    <div class="col-12 mt-2 dropzone " id='frmTarget'>
                        <div class='fallback'>
                            <input name='file' type='file' multiple />
                        </div>
                    </div>
                    <input name='id_asignacion' type='hidden' value="{{asignacion.id_asignacion}}" />
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg mb-5" type="submit" id="button">Entregar</button>
                    {{/if}}
                </form>
            </main>
        </div>
    </div>
    <!-- JavaScript -->
    {{>mensaje this}}
    <script src="/static/js/asignacion.js"></script>
</body>

</html>