<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Okuro - Inicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{>boots}}
  <link href="/static/css/dashboard.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row all-heigh ">
      {{> aside this}}

      <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">

        {{> header this titulo='Reportes'}}
        <div class="Reportes container">
          <div class="Reportes">

            {{#each grupos}}
              <div class="card">
                <li class="articles__article" style="--animation-order:1; background: {{color}}">
                  <a class="articles__link" href="/team/myreport?id_report={{id_reporte}}">
                    <div class="articles__content articles__content--lhs">
                      <h2 class="articles__title">{{tipo_reporte}}</h2>
                      {{#ifPropio permiso_id_permiso}}
                        <small>Propietario</small>
                      {{else}}
                        <small>Miembro</small>
                      {{/ifPropio}}
                      <div class="articles__footer">
                        <p></p>
                        <p class="circulo" style="background:{{color}}"></p>
                      </div>
                    </div>
                    <div class="articles__content articles__content--rhs" aria-hidden="true">
                      <h2 class="articles__title">{{nombre}}</h2>
                      {{#ifPropio permiso_id_permiso}}
                        <small>Propietario</small>
                      {{else}}
                        <small>Miembro</small>
                      {{/ifPropio}}
                      <div class="articles__footer">
                        <p></p>
                        <p class="circulo" style="background:{{color}}"></p>
                      </div>
                    </div>
                  </a>
                </li>
              </div>
            {{/each}}
          </div>
        </div>
      </main>
    </div>
  </div>
  {{>mensaje this}}

</body>

</html>